.client__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-icons);
  border-radius: 4px;
  fill: var(--social-icons);
  transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--primary-blue);
    fill: var(--primary-blue);
  }
}
