.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  padding: 40px;
  max-width: 450px;
  height: 609px;

  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (min-width: $tablet) {
    width: 450px;
    height: 609px;
  }

  @media (min-width: $desktop) {
    max-width: 528px;
    height: 581px;
  }
}
