.nav-contacts {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-contacts__item:not(:last-child) {
  @media (min-width: $desktop) {
    margin-right: 50px;
  }
}

.nav-contacts__item:not(:last-child) {
  @media (min-width: $tablet) {
    margin-bottom: 10px;
  }
  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.nav-contacts__link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-grey);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--primary-blue);
  }
}

.nav-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
  align-items: center;

  @media (min-width: $desktop) {
    margin-right: 10px;
  }
}
