.overlay__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white);
  padding: 63px 24px;
}
